

<script >

  mapboxgl.accessToken = 'pk.eyJ1IjoiaGFtaXNoamdyYXkiLCJhIjoiY2pkbjBmeGN6MDd1YzMzbXI3cWdpNThjayJ9.3YE8T1H2QUyqNIkxdKWxkg';

  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/hamishjgray/cjvgni6nh0a991fnz00plzg3o',
     // style: 'mapbox://styles/mapbox/light-v10',
      center: [132.0989, -28.852510],
      zoom: 4,
      minZoom: 2,
      maxZoom: 6

    });

  console.log(map);

  map.fitBounds([[
          110.7690568,
          -9.2379
      ], [
          155.299813,
          -45.1714184
      ]]);

  var nav = new mapboxgl.NavigationControl();
  map.addControl(nav, 'bottom-right');


  map.on('load', function() {
    // Insert the layer beneath any symbol layer.
    var layers = map.getStyle().layers;

    var labelLayerId;
    for (var i = 0; i < layers.length; i++) {
    if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
      labelLayerId = layers[i].id;
      break;
      }
    }

    });



    // code from the next step will go here!
    var geojson = {
      type: 'FeatureCollection',
      features: [


//************** Genuss ************


{
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [131.033, -25.3449]
  },
  properties: {
    id: '1',
    cat: 'genuss',
    title: 'Magische Stunden am Uluru',
    img: 'one',
    link: '#',
    description: 'Magische Momente am Uluru: Event-Dinner unterm Sternenhimmel.'
  }
},
{
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [138.600, -34.500]
  },
  properties: {
    id: '2',
    cat: 'genuss',
    title: 'Delikatessen aus dem Outback',
    img: 'two',
    link: '#',
    description: '5*-Aborigine-Küche: Probieren Sie Filets vom Wallabi oder Meerespetersilie im Orana.'
  }
},
{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [150.2164539, -33.8548157]
    },
    properties: {
      id: '3',
      cat: 'genuss',
      title: 'Skylinefieber für Nachtschwärmer',
      img: 'four',
      link: '#',
      description: 'Sydneys Rooftopbars: Lauschige Sommernächte mit Blick auf die Wahrzeichen der Stadt.'
    }
  },
{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [115.077, -33.9532]
    },
    properties: {
      id: '4',
      cat: 'genuss',
      title: 'Margaret River',
      img: 'five',
      link: '#',
      description: 'Weine aus Margaret River: Bei einer Stippvisite probieren Sie hier die Premium-Weine gleich vom Fass.'
    }
  },
  {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [138.5416998, -35.2172617]
      },
      properties: {
        id: '5',
        cat: 'genuss',
        title: 'The Cube',
        img: 'three',
        link: '#',
        description: 'Kunst und Kultur an einem Ort: The Cube verwöhnt den Gaumen und das Auge.'
      }
    },

    //************** Natur ************

  {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [137.24, -35.8278]
    },
    properties: {
      id: '1',
      cat: 'natur',
      title: 'Känguru-Insel in Südaustralien',
      img: 'five',
      link: '#',
      description: 'Spektakuläre Felsen, wilde Kängurus und Seelöwen erwarten Sie auf Kangaroo Island. '
    }
  },
    {
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [113.7690568, -23.1435944]
    },
    properties: {
      id: '2',
      cat: 'natur',
      title: 'Ein Naturerlebnis, das alles bietet',
      img: 'one',
      link: '#',
      description: 'Gehen Sie auf Tuchfühlung mit dem imposanten und doch sanften Walhai.'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [145.428, -16.2379]
      },
      properties: {
        id: '3',
        cat: 'natur',
        title: 'Tropenzauber im Daintree Rainforest',
        img: 'four',
        link: '#',
        description: 'Erhalten Sie Einblicke in das Leben des Kuku-Yalanji-Volkes, den Einwohnern des tropischen Regenwaldes.'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [145.3279, -42.5000]
      },
      properties: {
        id: '4',
        cat: 'natur',
        title: 'Unentdeckte Naturwunder',
        img: 'three',
        link: '#',
        description: 'Die Insel Tasmanien zählt zur wichtigsten Wildnis-Region der Südhalbkugel.'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [146.5000, -19.1014]
      },
      properties: {
        id: '5',
        cat: 'natur',
        title: 'Great Barrier Reef',
        img: 'two',
        link: '#',
        description: 'Entdecken Sie vom Glasboden-Boot aus die schillernde Unterwasserwelt des Riffes.'
      }
    },
    //************** Abenteurer ************

    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [148.9819, -20.2605]
      },
      properties: {
        id: '1',
        cat: 'abenteuer',
        title: 'Inselträume auf den Whitsundays',
        img: 'five',
        link: '#',
        description: 'Der feine funkelnde kilometerlange Quartzstrand ist die beliebteste Attraktion der Whitsunday Islands.'
      }
    },
  {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [148.299813, -42.1714184]
      },
      properties: {
        id: '2',
        cat: 'abenteuer',
        title: 'Wineglass Bay',
        img: 'four',
        link: '#',
        description: 'Entlang der Ostküste Tasmaniens warten wunderschöne Sandstrände und Buchten.'
      }
    },
  {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [115.8601, -31.9527]
      },
      properties: {
        id: '3',
        cat: 'abenteuer',
        title: 'Weine, Wälder, Kängrurus',
        img: 'two',
        link: '#',
        description: 'Treffen Sie auf Ihrer Reise Delfine und Wale und nehmen Sie ein Sonnenbad zwischen niedlichen Kängurus.'
      }
    },
  {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [133.8250, -32.3663]
      },
      properties: {
        id: '4',
        cat: 'abenteuer',
        title: 'Abenteuer in Südaustralien',
        img: 'three',
        link: '#',
        description: 'Lassen Sie sich nicht die Chance entgehen in freier Natur mit Seelöwen zu schwimmen.'
      }
    },
  {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [133.8669, -23.7282]
      },
      properties: {
        id: '5',
        cat: 'abenteuer',
        title: 'Rotes Zentrum',
        img: 'one',
        link: '#',
        description: 'Das Red Centre erkunden Sie mit dem Auto oder auf einem Helikopterflug.'
      }
    },
    //************** Kultur ************
  {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [151.2164539, -33.8548157]
      },
      properties: {
        id: '1',
        cat: 'kultur',
        title: 'Facettenreiches Licht-Spektakel',
        img: 'three',
        link: '#',
        description: 'Das Licht-Spektakel verwandelt die Metropole in eine bunte Märchenwelt.'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [144.9629, -37.8142]
      },
      properties: {
        id: '2',
        cat: 'kultur',
        title: 'Melbourne',
        img: 'five',
        link: '#',
        description: 'Grafitti-Kunst, Jazzclubs mit Weltruf und erstklassige Kunstausstellungen erwarten Sie in Melbourne.'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [129.034361, -22.352594]
      },
      properties: {
        id: '3',
        cat: 'kultur',
        title: 'Traditionelle Aborigine Kunst',
        img: 'two',
        link: '#',
        description: 'Jahrtausendealte Kunst: Die Symbole und Bilder der Aborigine sind einzigartig.'
      }
    },
    {
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [147.3279, -42.8825]
      },
      properties: {
        id: '4',
        cat: 'kultur',
        title: 'Geheimnisvolle Orte',
        img: 'four',
        link: '#',
        description: 'Kunstgenuss unter der Oberfläche: Tasmaniens geheimnisvolle Orte.'
      }
    }

      ]
    };




    	// add markers to map
    geojson.features.forEach(function(marker) {

      // create a HTML element for each feature
      var el = document.createElement('a');
      //el.innerHTML = 'onlick';

      //document.body.appendChild(el);
      el.className = 'bv-show marker marker--'+marker.properties.cat;
      el.id = marker.properties.cat+marker.properties.id;


    	//alert(marker.properties.id);

      // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML('<a class="text--black" href="{{site.baseurl}}/'+ marker.properties.cat+'/#'+marker.properties.img +'"><div class="bv-popup-img bg-img--4-3" style="background-image: url({{site.img}}/content/'+marker.properties.cat+'/'+marker.properties.img+'.jpg); "></div><div class="boxpad--md vpad--sm"><div class=" text text--md text--black text--bold text--upper text--left" >' + marker.properties.title + '</div><div class="space--xs"></div><div class="text text--md text--black">' + marker.properties.description + '<span class="text--red text--bold"> Mehr&nbsp;erfahren</span></div></div></a>'))

      /**/
      .addTo(map);



    });

</script>
