.btn {
  position: relative;
  display: inline-block;
  padding: $s2 $s5;
  color: $white;
  font-weight: 700;
  font-size: $s-1;
  text-align: center;
  white-space: nowrap;
  //text-transform: uppercase;
  //letter-spacing: .25em;
  line-height: 1.33;
  border-radius: 0;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s1 $s4; font-size: $s-2; }
  &--lg { padding: $s3 $s8; font-size: $s-1; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--outline {
    color: inherit;
    white-space: nowrap;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 2px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--bv-outline {
    white-space: nowrap;
    font-size: $s1;
    color: $grey-dark;
    line-height: 1;
    border: 1px solid $grey-dark;
    border-radius: 3px;

    &:hover {
      color: $white;
      background-color: $grey-dark;
      border: 1px solid $grey-dark;
    }
  }
  &--bv-blue {
    white-space: nowrap;
    font-size: $s1;
    line-height: 1;
    color: $white;
    background-color: $bv-blue;
    border-radius: 3px;

    &:hover {
      color: $white;
      background-color: rgba($bv-blue, .8);
      //border: 1px solid $bv-blue;
    }
  }
  &--outline-orange {
    &:before { border-color: $orange; }
    &:hover {
      background-color: $orange;
      &:before { border-color: $orange; }
    }
  }
}
