---
layout: default
---
<div class=" vpad--xxl " >
  <div class="container">
    <div class="width width--xl text text--center text--normal text--xxl " >
       <div class="text text--justify">{{page.intro}}</div>
       <div class="space--xl"></div>

       {% if page.partnerlink  %}

         <a href="{{page.partnerlink}}" class=" btn btn--bv-blue" target="_blank"> Mehr erfahren</a>

       {% else if page.youtube-url  %}

          <a id="bv-myBtn" data-modal-item="{{page.id}}" style="cursor: pointer;" class="btn btn--bv-blue">Film ansehen</a>

        {% endif %}

    </div>
  </div>
</div>




{% for section in  page.sections.items %}
    <div id="{{section.id}}" class="harvey {% cycle 'harvey--swap bg--lightgrey', '' %}">
      <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.id}}.jpg');">
        <div class="text text--sm text--white text--normal bv-copyright--bottom" >{{section.credit}}</div>
      </div>
      <div class="harvey__text boxpad--lg text text--xxl text--justify">
        <h2 class="title title--xl text--bold text--left ">{{section.title}}</h2>
        <div class="space--md"></div>
        <p>{{section.description}}</p>

        <div class="space--xl"></div>
          <a href="{{section.url}}" class=" btn btn--bv-outline" target="_blank"> Mehr erfahren</a>
      </div>
    </div>
 {% endfor %}


<!--

 {% for offers in site.data.offers %}
      {% if offers.id == page.id and offers.show == true %}
        <h2 class="title title--xl text--bold text--left ">Unser Top-Angebot</h2>
          <div class="text text--xxl text--center text--black ">für {{page.title}} </div>
      {% include offer/offer.html %}

      <div class="vpad--xxl text--white bv-parallax" style="background-image:url('{{site.img}}/content/{{geheimtipps.id}}/{{geheimtipps.category}}.jpg'); background-repeat:no-repeat; background-size:cover; background-position:center;">

          <h2 class="title title--xl text--white text--upper text--center text--normal">Unser Geheimtipp</h2>
          <div class="space--xl"></div>
         <div class="container">
           <div class="bob">
             <div class="bob__img text--md">
               <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{geheimtipps.id}}/{{geheimtipps.category}}-{{geheimtipps.show}}.jpg'); border: solid 4px #fff;"><div class="text text--sm text--white text--normal bv-copyright" style=" left:0px;">{{geheimtipps.credit}}</div></div>
             </div>
             <div class="bob__text text">
               <div class="title title--sm text--bold text--upper">{{offers.title}}</div>

               <p>{{offers.description}}</p>
               <div class="space--md"></div>
               <a href="{{site.baseurl}}/geheimtipps" class=" btn btn--bv-outline-white" > Mehr Geheimtipps </a>
             </div>
           </div>
         </div>
  </div>
       {% endif %}
 {% endfor %}
/-->
